{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <h1 class="text-center mb-5">History</h1>

    {% if not todos %}

        <h4 class="text-center mb-5">Your "History" list is empty.</h4>

        <img src="{{ url_for("static", filename="empty.jpg") }}" class="img-fluid rounded mx-auto d-block mb-3" alt="Relax">

        <p class="text-center">
            <span>
                Photo by
                <a href="https://unsplash.com/@laurensauderstudio?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank">Lauren Sauder</a> on
                <a href="https://unsplash.com/s/photos/todo?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank">Unsplash</a>
            </span>
        </p>

    {% else %}

        <table class="table table-striped">
            <tr>
                <th scope="col" class="col-6">Todo</th>
                <th scope="col">Due</th>
                <th scope="col">Created</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col" class="text-center">Restore</th>
            </tr>
            {% for todo in todos %}
                <tr>
                    <td scope="row">
                        {% if todo.important %}
                            {% if todo.urgent %}
                                <span class="badge badge-danger mr-1 text-danger">0</span>
                            {% else %}
                                <span class="badge badge-success mr-1 text-success">0</span>
                            {% endif %}
                        {% else %}
                            {% if todo.urgent %}
                                <span class="badge badge-warning mr-1 text-warning">0</span>
                            {% else %}
                                <span class="badge badge-primary mr-1 text-primary">0</span>
                            {% endif %}
                        {% endif %}
                        {{ todo.content }}
                    </td>
                    <td>{{ todo.due }}</td>
                    <td>{{ todo.created.date() }}</td>
                    <td class="text-center">
                        {% if todo.done %}
                            <a href=""><i class="fas fa-check"></i></a>
                        {% elif todo.deleted %}
                            <a href=""><i class="fas fa-trash"></i></a>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="/restore/{{ todo.id }}"><i class="fas fa-undo"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% endif %}

{% endblock %}