{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <h1 class="text-center mb-5">History</h1>

    {% if not todos %}

        <h4 class="text-center mb-5">Your "History" list is empty.</h4>

        <img src="{{ url_for("static", filename="empty.jpg") }}" class="img-fluid rounded mx-auto d-block mb-3" alt="Relax">

        <p class="text-center">
            <span>
                Photo by
                <a href="https://unsplash.com/@laurensauderstudio?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank">Lauren Sauder</a> on
                <a href="https://unsplash.com/s/photos/todo?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank">Unsplash</a>
            </span>
        </p>

    {% else %}

        <table class="table table-hover table-borderless">
            <thead class="thead-light">
                <tr>
                    <th scope="col" style="width:50%">
                        {% if sort == "content_asc" %}
                            <a href="/sort/{{ "history" }}/{{ "content_desc" }}"><i class="fas fa-sort fa-lg"></i></a>
                        {% else %}
                            <a href="/sort/{{ "history" }}/{{ "content_asc" }}"><i class="fas fa-sort fa-lg"></i></a>
                        {% endif %}
                        Todo
                    </th>
                    <th scope="col">
                        {% if sort == "archived_asc" %}
                            <a href="/sort/{{ "history" }}/{{ "archived_desc" }}"><i class="fas fa-sort fa-lg"></i></a>
                        {% else %}
                            <a href="/sort/{{ "history" }}/{{ "archived_asc" }}"><i class="fas fa-sort fa-lg"></i></a>
                        {% endif %}
                        Archived
                    </th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Restore</th>
                </tr>
            </thead>
        <tbody>
            {% for todo in todos %}
                <tr>
                    <td scope="row">
                        {% if todo.important %}
                            {% if todo.urgent %}
                                <span class="badge badge-danger mr-1 text-danger">1</span>
                            {% else %}
                                <span class="badge badge-success mr-1 text-success">2</span>
                            {% endif %}
                        {% else %}
                            {% if todo.urgent %}
                                <span class="badge badge-warning mr-1 text-warning">3</span>
                            {% else %}
                                <span class="badge badge-primary mr-1 text-primary">4</span>
                            {% endif %}
                        {% endif %}
                        {{ todo.content }}
                    </td>
                    <td>{{ todo.archived.date() }}</td>
                    <td class="text-center">
                        {% if todo.done %}
                            <a href=""><i class="fas fa-check"></i></a>
                        {% elif todo.deleted %}
                            <a href=""><i class="fas fa-trash"></i></a>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="/restore/{{ todo.id }}"><i class="fas fa-undo"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>

    {% endif %}

{% endblock %}