{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}

    <h1 class="text-center mb-5">Dashboard</h1>

        <div class="card mb-5 bg-light">
            <div class="card-body">
                <form action="/" method="post">
                    <div class="form-row align-items-center">
                        <div class="col-6 mr-2">
                            <input
                                    autofocus
                                    autocomplete="off"
                                    class="form-control"
                                    type="text"
                                    name="content"
                                    placeholder="New Todo..."

                            >
                        </div>
                        <div class="col-auto mr-2">
                            <div class="form-check">
                                <input
                                        class="form-check-input"
                                        type="checkbox"
                                        name="important"
                                        id="important"
                                >
                                <label class="form-check-label" for="important">
                                    Important
                                </label>
                            </div>
                        </div>
                        <div class="col-auto mr-2">
                            <div class="form-check">
                                <input
                                        class="form-check-input"
                                        type="checkbox"
                                        name="urgent"
                                        id="urgent"
                                >
                                <label class="form-check-label" for="urgent">
                                    Urgent
                                </label>
                            </div>
                        </div>
                        <div class="col-auto mr-2">
                            <input
                                    type="date"
                                    name="due"
                                    placeholder="yyyy-mm-dd"
                                    pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)"
                            >
                        </div>
                        <div class="col-auto mr-2">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    {% if not todos %}

        <h4 class="text-center mb-5">Your Todo list is empty. Enjoy!</h4>

        <img src="{{ url_for("static", filename="empty.jpg") }}" class="img-fluid rounded mx-auto d-block mb-3" alt="Relax">

        <p class="text-center">
            <span>
                Photo by
                <a href="https://unsplash.com/@laurensauderstudio?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank">Lauren Sauder</a> on
                <a href="https://unsplash.com/s/photos/todo?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank">Unsplash</a>
            </span>
        </p>

    {% else %}

        <table class="table table-hover table-borderless">
            <thead class="thead-light">
                <tr>
                    <th scope="col" style="width:50%">
                        {% if sort == "content_asc" %}
                            <a href="/sort/{{ "index" }}/{{ "content_desc" }}"><i class="fas fa-sort fa-lg"></i></a>
                        {% else %}
                            <a href="/sort/{{ "index" }}/{{ "content_asc" }}"><i class="fas fa-sort fa-lg"></i></a>
                        {% endif %}
                        Todo
                    </th>
                    <th scope="col">
                        {% if sort == "due_asc" %}
                            <a href="/sort/{{ "index" }}/{{ "due_desc" }}"><i class="fas fa-sort fa-lg"></i></a>
                        {% else %}
                            <a href="/sort/{{ "index" }}/{{ "due_asc" }}"><i class="fas fa-sort fa-lg"></i></a>
                        {% endif %}
                        Due
                    </th>
                    <th scope="col">
                        {% if sort == "created_asc" %}
                            <a href="/sort/{{ "index" }}/{{ "created_desc" }}"><i class="fas fa-sort fa-lg"></i></a>
                        {% else %}
                            <a href="/sort/{{ "index" }}/{{ "created_asc" }}"><i class="fas fa-sort fa-lg"></i></a>
                        {% endif %}
                        Created
                    </th>
                    <th scope="col" class="text-center">Done</th>
                    <th scope="col" class="text-center">Edit</th>
                    <th scope="col" class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                    <tr>
                        <td scope="row">
                            {% if todo.important %}
                                {% if todo.urgent %}
                                    <span class="badge badge-danger mr-1 text-danger">1</span>
                                {% else %}
                                    <span class="badge badge-success mr-1 text-success">2</span>
                                {% endif %}
                            {% else %}
                                {% if todo.urgent %}
                                    <span class="badge badge-warning mr-1 text-warning">3</span>
                                {% else %}
                                    <span class="badge badge-primary mr-1 text-primary">4</span>
                                {% endif %}
                            {% endif %}
                            {{ todo.content }}
                        </td>
                        <td>
                            {% if todo.overdue %}
                                <span class="text-danger font-weight-bold border border-danger rounded p-1">{{ todo.due }}</span>
                            {% else %}
                                {{ todo.due }}
                            {% endif %}
                        </td>
                        <td>{{ todo.created.date() }}</td>
                        <td class="text-center">
                            <a href="/done/{{ todo.id }}"><i class="far fa-square"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="/update/{{ todo.id }}"><i class="fas fa-edit"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="/delete/{{ todo.id }}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

{% endblock %}