{% extends "layout.html" %}

{% block title %}
    Matrix
{% endblock %}

{% block main %}

    <div class="col-md-6 mx-auto pt-3">
        <div class="card mb-4">
            <div class="card-header">
                <h3 class="text-secondary">The Eisenhower Matrix</h3>
            </div>
            <div class="card-body">
                <p class="card-text">The diagrams below show you how your todos will be categorized by the app.</p>

                <p class="card-text">It uses the famous <span class="font-weight-bold">Eisenhower Matrix</span>.</p>

                <p class="card-text">To learn more, feel free to visit the link below.</p>

                {% if not session["user_id"] %}
                    <p class="card-text">Please log in to start using the app.</p>

                    <p>Enjoy!</p>

                    <a href="/login" class="btn btn-primary">Log In</a>
                {% endif %}

            </div>
        </div>
    </div>

    <img src="{{ url_for("static", filename="matrix.jpeg") }}" class="img-fluid rounded mx-auto d-block" alt="Matrix">

    <img src="{{ url_for("static", filename="urgent-important.jpeg") }}" class="img-fluid rounded mx-auto d-block" alt="Matrix">

    <p class="text-center"><span>Diagrams by <a href="https://medium.com/@xebrio" target="_blank">Xebrio</a> on <a href="https://medium.com/xebrio/eisenhower-matrix-the-key-to-productivity-and-time-management-f510cbd808e1" target="_blank">Medium</a></span></p>

{% endblock %}