{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <div class="col-md-6 mx-auto pt-3">
        <div class="card card-body bg-light mt-5">
            <h2>Create An Account</h2>
            <p>Please fill out this form to register with us</p>
            <form action="/register" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input
                            autofocus
                            autocomplete="off"
                            type="text"
                            class="form-control"
                            id="username"
                            name="username"
                            value="{{ username }}"
                    >
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="confirm">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm" name="confirm">
                </div>

                <div class="row">
                    <div class="col">
                        <input type="submit" value="Register" class="btn btn-primary btn-block">
                    </div>
                    <div class="col">
                        <a href="/login" class="btn btn-light btn-block">Have an account? Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}